{{#each this}}
  <div class='photo-card'>
    <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' width='350' height='200' />
    <div class='info'>
      <p class='info-item'>
        <b>Likes </br><span class='info-data'>{{likes}}</span></b>
      </p>
      <p class='info-item'>
        <b>Views </br><span class='info-data'>{{views}}</span></b>
      </p>
      <p class='info-item'>
        <b>Comments </br><span class='info-data'>{{comments}}</span></b>
      </p>
      <p class='info-item'>
        <b>Downloads </br><span class='info-data'>{{downloads}}</span></b>
      </p>
    </div>
  </div>
{{/each}}